*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    /* font-family: jos; */

}
html {
    color: #000;
    line-height: 1.5;
    font-family: "Josefin Sans";
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888 ;
    padding: 2px 0;
    margin-bottom: 1px;
    color: #888;
}
h3{
   font-size: 1rem;
   text-transform: uppercase;
   color: salmon;
   margin-bottom: 2px;
}
p {
    line-height: 1.5;
}
section + section {
    margin-top: 5px;
}
li + li{
    margin-top: 1px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit
}
.Profile{
    text-align: center;
}
.Profile img {
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
}
.Profile p {
    color
    margin: 1rem;
}
.Contact ul {
    margin-top: -2rem;
}
.Contact li {
    text-transform: uppercase;
    text-align: right;
    padding: 1rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888 ;
}
.Contact li+li {

}
.Skills > ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-gap: 1rem;
}
 /* .timeline .event + .event{ */
     /* padding-top: 1rem ; */
 }
/* .event { 
    display: grid;
    grid-template-columns: 5ch 1fr;
}
 .content {
    border-left: 1px solid #888;
    padding-left: 2px;
    margin-left: 2px;
} */

.123 li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #000;
}
.content > h3+p {
    margin-bottom: 1rem;
}
.resume {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 2rem;
}
.Contact h2 {
    margin: 15px;
}