*{
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: jos; */

}
html {
    color: #000;
    line-height: 1.5;
    font-family: "Josefin Sans";
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.25rem;
    text-transform:capitalize;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888 ;
    padding: 2px 0;
    /* margin-bottom: 0.5px; */
    color: #888;
}
h3{
   font-size: 1rem;
   text-transform:capitalize;
   color: black;
}
p {
    line-height: 1;
}
/* section + section {
    margin-top: 0.5px;
} */
/* li + li{
    margin-top: 0.5px;
} */
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit
}
.Profile{
    text-align: center;
}
.Profile img {
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
}
.Profile p {
    margin: 1px;
}
.Contact ul {
    margin-top: -2rem;
}
.Contact li {
    text-transform:capitalize;
    text-align: right;
    padding: 0px;
    border-top: 0px solid #888;
    border-bottom: 0px solid #888 ;
}
.Skills > ul {
    display:flexbox;
    flex-direction: column;  
    /* grid-gap: 1rem; */
}
.Contact h2 {
    margin-left: 0px;
}
 /* .timeline .event + .event{ */
     /* padding-top: 1rem ; */
/* .event { 
    display: grid;
    grid-template-columns: 5ch 1fr;
}
 .content {
    border-left: 1px solid #888;
    padding-left: 2px;
    margin-left: 2px;
} */
.Socials a {
    margin: 40px;
    width: 80px;
}
.Edu li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #000;
}
.content > h3+p {
    margin-bottom: 1px;
}
.resume {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 2rem;
}
.Contact h2 {
    margin: 30px;
}
.border {
    border-bottom: 1px solid #888;
}